@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* color variables */
:root {
  --dark-01: #131313;
  --dark-02: #424242;
  --dark-03: #727272;
  --dark-04: #a1a1a1;
  --dark-05: #d0d0d0;
  --dark-06: #e7e7e7;
  --dark-07: #f3f3f3;
  --white: #ffffff;

  --bg-color: rgba(255, 144, 14, 0.1);
  --orange: #ff900e;
}

/* fonts */
.work-sans-font {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* for responsiveness */
.container {
  max-width: 1440px;
  margin: 0 auto;
}

/* button style */
.btn-primary {
  border: none;
  border-radius: 0.5rem;
  padding: 20px 25px;
  color: #fff;
  background-color: var(--orange);
  font-size: 1.25rem;
  font-weight: 600;
}

/* display flex */
.navbar,
.menu,
.banner-content {
  display: flex;
}

/* header style */
header {
  background-color: var(--bg-color);
  padding: 3.125rem 1rem;
}

/* navbar styles */
.navbar {
  justify-content: space-between;
  align-items: center;
}
.brand-name {
  color: var(--dark-01);
  font-size: 2.8rem;
  font-weight: 700;
}
.menu {
  justify-content: space-between;
}
.menu-item {
  list-style: none;
  margin-left: 4.6rem;
}
.menu-link {
  text-decoration: none;
  color: var(--dark-02);
}

/* banner styles */
.banner-content {
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  max-width: 54rem;
  margin: 7rem auto 50px;
}
.banner-heading {
  text-align: center;
  color: var(--dark-01);
  font-size: 4rem;
  font-weight: 700;
}
.banner-content {
  text-align: center;
  color: var(--dark-01);
  font-size: 1rem;
  font-weight: 500;
}
.banner-image img {
  width: 100%;
}
/* responsiveness for tablet */
@media screen and (max-width: 992px) {
  .navbar,
  .menu,
  .banner-content {
    flex-direction: column;
  }
  .menu-item {
    margin: 2rem 0;
  }
  .banner-content {
    margin-top: 2rem;
  }
}
